.container{
    background-color: red;
    border-radius: 10px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
    text-align: center;
    justify-content: center;
    position: center;
    color: white;
    height: 30em;
    width: 30em;
    margin: 0 auto;
}

.container:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }