.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
  color: #3bb;
  height: 65vh;
  width: 40vw;
  margin: 0 auto;
}

.card-bottom{
  margin-top: 5%;
}

.card-bottom h1{
  color: white;
}

.grey{
  color: #ccc;
}

.lightseagreen{
  color: #3bb;
}

.green {
  color: #bfdf32;
}

.left-text {
  text-align: left;
  margin-left: 6%;
}

.left-text p{
  margin: 6px 0;
}

.container:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
