.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
  color: #3bb;
  height: 65vh;
  width: 40vw;
  margin: 0 auto;
}

.font-13{
  font-size: 13px;
}

.inline{
  width: 50%;
  display: inline;
}

.card-bottom h1{
  color: white;
}

.grey{
  color: #ccc;
}

.lightseagreen__background {
  background-color: #3bb;
}

.lightseagreen{
  color: #3bb;
}

.mediumturquoise__background{
  background-color: #5cc;
}

.mediumturquoise{
  color: #5cc;
}

.lightcyan{
  color: #dff;
}

.green {
  color: #bfdf32;
}

.left-text {
  text-align: left;
  margin-left: 6%;
}

.left-space{
  margin-left: 12%;
}

.container:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

#info p{
  font-size: 12px;
  margin: 0;
  color: lightcyan;
}
